@import url('https://fonts.googleapis.com/css2? family= Arima & family= Arimo & display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
}


body{
position: absolute;
width: 100%;
height: 100%;
background-image: url(img/gifchoc.webp);
background-size: cover;

}

body img{
	z-index: 2;
	width: 100%;
	height: 700px;
}

main{
height: auto;
width: 90%;
margin: auto;
background-color: #f0e3c2;
z-index: 1;
}


main h3{
	font-family: 'Arima';
	font-weight: 500;
}


header{
    width: 90%;
    margin: auto;
	font-family: 'Arima'serif;
	z-index: 1;
}



*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

ol, ul {
	list-style: none;
  text-align:center;
}
.container{max-width: 1170px; margin:0 auto;}
.header{
vertical-align:middle;
	background:#FBC83C;
	height:80px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:20px 0;
   	-webkit-transition:all 0.2s ease-in;  
   -moz-transition:all 0.2s ease-in;  
   -o-transition:all 0.2s ease-in;  
   transition:all 0.2s ease-in; 	
}

.logo img{
	margin-left: 480px;
    width: 200px ;
	height: 200px;
    border-radius: 100%;
	
}

.stickynav{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 99999;	
}

.header-inner{
	height:100%;
	position:relative;
}

.header-logo{
	position: absolute;
	height:100%;
	text-align:center;	
}

.header-logo .logo,.header-logo .logo img{
	position: absolute;
}

.navleft{
	position:absolute;
	left:0;
	top:5px;
   
}

.navright{
	position:absolute;
	right:0;
	top:5px;
}

.onepagelink{
text-decoration: none;
color: black;
}

.block{
	padding:45px 0;		
}

.navbar .btn-navbar .icon-bar {
	
	width: 23px;
	height: 3px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	box-shadow: none;
	background:#fff;
}

.navbar .btn-navbar {
	/*position absolute daqui*/
	top: 18px;
	right: 20px;
	z-index: 3;
	background: #99cccc;
	box-shadow: none;
	border: none;
	padding-bottom:9px;
}

.navbar .btn-navbar:hover{
	background:#00ada7;
}

.btn-navbar .icon-bar+.icon-bar {
	margin-top: 4px;
}

.btn-navbar {
	float: right;
	padding: 6px 9px 9px;
	box-shadow: none;
	border-radius: 0;
	/*tirei display none*/
}

.navigation li a{
	font-weight:400;
	font-size:30px;
	line-height:30px;
	padding:18px;
}

.navigation li a:hover{
text-decoration: none;
color: #000;
background-color: #FFE089;
}

.navigation li{
	display:inline-block;
	line-height:60px;
}

.navleft .navigation{
	float:right;
}	

.navright .navigation{
	float:left;
}	

.navigation .current-menu-item a{
	color:#00ada7;
}

.navbar{
	padding:0;
	margin-bottom:0;
}

.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus,.navbar-inverse .brand, .navbar-inverse .nav>li>a ,.navbar-inverse .nav>li>a:hover  {
color: #00ada7;
background-color: #fff;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus,.navbar-inverse .brand, .navbar-inverse .nav>li>a {
box-shadow: none;
text-shadow:none;
}

/*carrosel*/
#carousel{
    width: 100%;
    height: 500px;
    background-color: chartreuse;
}

.textocarousel{
	width: auto;
	height: 130px;
	margin: 50px;
	margin-left: 150px;
	color: #f0e3c2;
	font-size: 40px;
	font-family: 'Arimo';
	border-radius: 10px;
	padding: 5px;
	font-weight:bold;
}

.zindex{
	position: absolute;
	top: 260px;
	z-index: 10;
}

.d-block{
    width: 100%;
    height: 500px;
    background-size: cover;
}

.carousel-control-prev-icon{ /*entender pq não está funcionando*/
    background-image: url(img/abeia-removebg-preview\ 1.svg);
    width: 50px;
    height: 50px;
}


#abelhas{
    width: 100%;
    height: 100px;
	display: flex;
	flex-direction: row;
	
}

#abelhas img{
    width: 50%;
    height: 130px;
}

#leftabelha{
	width: 50%;
	height:100px;
	position: relative;
}

#rightabelha{
	width: 50%;
	height:100px;
}

#rightabelha img{
	margin-left: 348px;
}

/*ICON DO WHATS*/
.icon {
	position: fixed;
	bottom: 150px;
	right: 30px;
	font-size: 40px;
	background-color: #01e675;
	color: #ffffff;
	border-radius: 50%;
	padding: 3px;
	width: 90px;
	height: 90px;
	text-align: center;
	text-decoration: none;
	z-index: 100;
	box-shadow: 2px 2px 2px #c0bdbd;
  }
  
  .icon .fab{
	padding-top: 9px;
  }

  .fab{
	margin-top: 12px;
  }
  
  .icon:hover{
	background-color: #fff;
	color: #029e3b;
	font-weight: 900;
	box-shadow: 2px 2px 20px #5fe690;
  }

/*PRODUTOS*/

.tituloprodutos{
	width: 100%;
	height: 40px;
	margin: auto;
	margin-top: 15px;
	text-align: center;
}

/* PAO DE MEL*/
#paodemel{
    max-width: 100%;
    height: 350px;
    display: flex;
	align-items: center;
	overflow-x: auto;
}

.circulo{
    width:200px ;
    height: 200px;
    background-color:#FFE089 ;
    border-radius: 100%;
	border: 2px dashed brown;
	border-spacing: 10px;
}

.paocaixa{
	width: 200px;
	height: auto;
	text-align: center;
	margin: 30px;
}

.paocaixa h6{
font-size: 20px;
}

.paocaixa p{
	font-size: 18px;
	font-weight: bold;
}

.circulo img{
	width: 170px;
	height: 170px ;
}



/*TRUFAS*/

#trufas{
	max-width:100%;
    height: 550px;
    display: flex;
    align-items: center;
	overflow-x: scroll;
	background-color: #f0e3c2;
	perspective: 100px;
}

.caixatrufa{
	width: 150px;
	height: auto;
	margin: 50px;
	text-align: center;
}

.caixatrufa h6{
	font-size: 20px;
}

.caixatrufa p{
	font-size: 18px;
	font-weight: bold;
}

.caixatrufa:hover{
	transform: translateZ(20px);
	transition: 1s;
}

.oval{
	width: 180px ;
    height: 330px;
    background-color:#FBC83C ;
    border-radius: 60px;
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

.oval img{
	width: 150px;
	height: 130px;
	margin-top: 100px;
}


/*BOLO*/

#bolo{
    width: 100%;
    height: auto;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	background-image: url(img/favo2.png);
	
}

.boloseco{
	width: 300px;
	height: auto ;
	margin: 40px;
	text-align: center;
}

.boloseco h6{
	font-size: 20px;
	font-weight: 500;
}

.boloseco p{
	font-size: 18px;
	font-weight: bold;
}

.imgbolo img{
	width: 300px;
	height: 200px;
}


/*BOLO POTE*/
#bolopote{
    width: 100%;
    height: 400px;
    background-color:#f0e3c2;
	display: flex;
    align-items: center;
	overflow-x: auto;
}

.bolo{
	width: 200px;
	height: 250px;
	border-radius: 10px;
	background-color: #FBC83C;
}

.bolo img{
	width: 200px;
	height: 250px;
}

.bolopotevalorsabor{
	width: 200px;
	height: 300px;
	margin-left: 90px;
	text-align: center;
}
	
.bolopotevalorsabor h6{
	font-size: 20px;
}

.bolopotevalorsabor p{
	font-size: 18px;
	font-weight: bold;
}

/*AVALIAÇÃO DOS CLIENTES*/
#clientes{
    width: 100%;
    height: 600px;
    background-color: #f0e3c2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#clientes h4{
	font-family: 'Arima';
	font-size: 35px;
}

#clientes p{
	font-family: 'Arimo'sans-serif;
	font-size: 18px;
	padding: 5px;
}

.clientesavalia{
   width:300px ;
   height: 400px;
   border-radius: 15px;
   background-color: #fff;
   text-align: center;
   margin-top: 10px;
}

.clientesavalia img{
	width: 100% ;
	height: 150px;
	border-radius: 15px;
}

#wavesobrenos{
background-color: #f0e3c2;
}

/*SOBRE NÓS*/

#sobrenos{
	background-color: #d77c04;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: row;
}

#fotoleft{
width: 50%;
}

#fotoleft img{
	width: 50%;
	height: 400px;
	margin-left: 170px;
	margin-top: 40px;
}


#texto{
	width: 40%;
	text-align: center;
	margin-top: 40px;

}

#texto h5{
	font-family: 'Arima';
	font-size:30px ;

}


#texto p{
	font-family: 'Arimo'sans-serif;
}

/*FOOTER*/
footer{
	width:100%;
	margin: auto;
	background-color: #f0e3c2;
}

svg{
background-color: #d77c04;
width:100%;
margin:auto;
}

#footer{
	width: 90%;
	margin: auto;
	height: 300px;
	
}

.logoinfo img{
 width: 200px;
 height: 200px;
 margin-left: 465px;

}
.main-footer{
	height: 300px;
	padding: 70px 0;
	display: flex;
	justify-content: space-around;
	background-color: #FFE089;
  }
  
  .main-footer ul {
	list-style: none;
  }
  
  .main-footer h1 {
	font-size: 30px;
	line-height: 117%;
	color: #000;
	margin-bottom: 10px;
	font-weight: 500;
	font-family: 'Arima';
  }
  
  .main-footer h2 {
	color: #000;
	font-weight: 500;
  }
  
  .main-footer ul li a {
	color: #000;
	text-decoration:none;
  }
  
  footer {
	background-color: #d77c04;
	border-top: 1px solid #000;
	font-size: 17px;
	padding: 15px 5px;
	color: #000;
	text-align: center;
  }
  
  footer a {
	text-decoration: none;
	color: #000;
  }
  
  
  .contact-details {
	margin-left: -80px;
	margin-top: -200px;
  }
  
  .contact-details li {
	list-style: none;
	
  }
  
  .contact-details li a {
	text-decoration:none;
	color: #000;
  }
  
  .contact-details .fa {
	color: #000;
  }
  
  .sociallogos{
	padding:20px 0;
  }
  
  .sociallogos .logobox a{
	padding:0 10px;
	text-decoration:none;
	color:#ffffff;
	font-size:35px;
  }
  
  .com ul li{
	padding:5px 0;
  }
  
  @media only screen and (max-width: 749px) {
	.main-footer {
	  padding:20px;
	  display:grid;
	  grid-template-columns: 1fr 1fr;
	}
	  .info{
		padding:20px 0;
	}
  }
  
  @media (max-width: 480px) {
	.main-footer {
	  grid-template-columns: 1fr;
	}
	.sociallogos{
	  padding:20px 0;
	}
	.com{
	  padding:20px 0;
	} 
  
  }


  /*RESPONSIVO CELULAR*/
  